# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Dataset
data/raw/*
!data/raw/.gitkeep

# Processed data
data/processed/*
!data/processed/.gitkeep

# Results
results/*
!results/.gitkeep

# Model weights
*.pth
*.pt
*.ckpt

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db